.news-section{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.news-title{
    font-family: "Times New Roman", serif;
    font-size: 88px;
    color: #1d3fff;
    line-height: 1;
    margin: 0;
}