.desktop-navbar-wrapper {
    display: block;
}

.mobile-navbar-wrapper {
    display: none;
}


/* MOBILE */

@media (max-width: 700px) {

    .desktop-navbar-wrapper {
        display: none;
    }

    .mobile-navbar-wrapper {
        display: block;
    }
}